@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.hero-container{
    z-index: 1;
    text-align: center;
    position: relative;
}
.hero-main{
    position: relative;
    color: #081E48;
    font-family: 'Anton', sans-serif; ;
    font-size: 250px;
    font-weight: 400;
    line-height: 242px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;    
}
.hero-sub1{
    width: 20%;
    position: absolute;
    color: white;
    font-family: 'Anton', sans-serif; ;
    font-size: 20px;
    letter-spacing: 0em;
    font-family: 'Inter', sans-serif;
    /* font-size: 24px; */
    font-weight: 200;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.p1{
    top: 33%;
    left: 28%;
    transform: translate(-50%, -50%);
}
.p2{
    top:66%;
    left: 80%;
     transform: translate(-50%, -50%);
}
.hero-container2{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.lottie{
    height: 75px;
    width: 75px;
}
.fontg{
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
@media (max-width: 480px) {
    .hero-main{
        margin-top: 43%;
        font-size: 80px;
        line-height: 100px;
    }
    .hero-sub1{
        font-size: 15px;
        line-height: 16px;
    }
    .fontg{
        font-size: 15px;
    }
    .p1{
        top: 37%;
        left: 35%;
        width: max-content;
    }
    .p2{
        top: 71%;
        left: 71%;
        width: max-content;
    }
    .hero-container2{
        width: 60%;
        margin-bottom: 150px;
    }
    /* .linee{
        width: 200px;
    } */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-main{
        font-size: 163px;
    }
    .p1{
        top: 35%;
        left: 35%;
    }
    .hero-sub1{
        width: 35%;
    }
    .p2{
        top: 72%
    }
    nav{
        margin-right: 17px;
    }
}