
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
   @import url("https://fonts.google.com/specimen/Inter?preview.text=recent&preview.text_type=custom&query=inter");
   @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.container {
  position: relative;
  height: 60px;  
  margin-top: 150px;
}

.black-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.9%;
  height: 70px;
  background: #071A3F;
  z-index: 1;
  transform: rotate(-4deg);
}
.marquee {
  position: relative;
  /* width: 126%; */
  width:99.9%;
  white-space: nowrap;
  overflow: hidden;
  transform: rotate(2deg);
  margin-top: 40px;
  background-color: #637AAA;
  height: 70px;
  z-index: 2;
  display: flex;
}

.marquee__inner {
  padding-top: 12px;
  animation: marquee 20s linear infinite;
  display: flex;
  /* width: 320%; */
  justify-content: space-evenly;
}



.marquee__item {
  display: inline-block;
  padding: 0 2rem;
  width: 10%;
  font-size: 40px;
  font-family: 'inter';
  font-weight: 700;
  text-transform: uppercase;
  color: #23488E;
}
.marquee__image {
  object-fit: contain;
  width: 22px;
  height: 21px;
  margin-top: 15px;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.outer{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 5%;
  margin-bottom: 40px;
}
.head{
  position: relative;
  display: flex;
  justify-content: center;
  color: #153D8C;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Anton;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.respon{
  text-transform: lowercase;
  transform: rotate(-4deg);
  margin-top: 50px;
  left: 28%;
  width: 50px;
  position: absolute;
  color: #0CA4E6;
  font-family: 'Caveat';
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 70%; /* 23.736px */
  letter-spacing: 2px;
}
.hashDiv{
  position: relative;
  margin-left: 10%;
}
.rest{
  display: flex;
  justify-content: center;
  padding-left: 16%;
  padding-top: 45px;
  position: absolute;
  flex-direction: column;
  gap: 8px;
}
.id{
  color: rgba(99, 122, 170, 0.32);
  font-family: 'Caveat';
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: capitalize;
}
.first{
  color: #4F80DF;
  font-family: 'Inter';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}
.second{
  color: #4F80DF;
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: capitalize;
}
.third{
  color: #23488E;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
.fourth{
  color: #637AAA;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 480px) {
  .respon{
    font-size: 15px;
    left: 0%;
    margin-top: 100px;
    letter-spacing: 2px;
    width: 100%;
  }
  .head{
    line-height: 60px; 
    font-size: 48px;
    text-align: center;
  }
  .hashDiv{
    margin-left: 10px;
    margin-top: 30px;
  }
  .id{
    font-size: 20px;
  }
  .marquee__item {
    font-size: 26px;
  }
  .marquee{
    height: 50px;
  }
  .marquee__image{
    margin-top: 5px;
  }
  .black-bar{
    transform: rotate(-10.435deg);
    height: 50px;
  }
  
  .rest{
    gap: 1px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 0;
    position: relative;
    padding-left: 0;
    width: 91%;
  }
  .outer{
    display: block;
  }
  .first{
    font-size: 20px;
  }
  .second{
    font-size: 15px;
  }
  .third{
    font-size:12px;
  }
  .fourth{
font-size: 16px;
  }
  
}